.cardContainer {
width: 350px;
height: 460px;
margin: 48px 30px;
display: flex;

}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 5rem;
   
}
.ui{
border-radius: 10px;
display: flex;
border: rgb(27, 117, 190) 5px solid;
height: 530px;
}

/* img{
    width: 12rem;
    height: 3rem;
} */
/* .icon{
margin-bottom: 20px;
} */
 img .bigImage{
    width: 320px;
    height: 300px;
}

.ShowArticle-description {
    text-align: left;
    /* font-size: 18px; */
}