.cardContainer {
width: 15rem;
height: 29rem;

}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 3rem;
   
}
.ui{
border-radius: 10px;
display: flex;
border: rgb(27, 117, 190) 5px solid;
}
img{
    width: 13rem;
    height: 3rem;
}