.bg-white{
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    margin-top: 10px;
}
.flex-column{
    color: white;
    padding: 8px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin: 20px;
    font-size: 18px;
    margin-left: 50px;
    /* text-align: left; */
}

.totalSupply, .volume, .high24, .Circulating-supply, .low24, .text-muted{
    color: black;
}
