
body{
    width: 100vw;
    position: relative;
}
.navBarContainer{
    display: flex;
   justify-content: space-between;
   background-color: black;
   color: white;
   width: 100%;
   position: absolute;
   top: 0;
   left: 0;
   height: 70px;
   padding: 8px;
   text-align: center;
   align-items: center;
   font-size: 18px;
   font-weight: bold;

}
.loginUser{
    padding-right: 20px;
    z-index: 100;
}

