body{
    background-color: rgb(94, 149, 212);
}
.coinContainer{
    display: flex;
    justify-content: center;
    margin:0 auto ;
    color: black;
}
.coinRow{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid black;
    width: 900px;
}
.coin{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    padding-right: 24px;
    min-width: 300px;
}
.coin h1{
    font-size: 16px;
    width: 150px;
   
    
}
.coin img{
    height: 30px;
    width: 30px;
    margin-right: 10px;

}
.coinSymbol{
    text-transform: uppercase;

}
.coinData{
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 100%;
}

.coinPrice{
    width: 100px;
}
.coinVolume{
    width: 150px;
}
.coinPercentage{
    width: 100%;
}
.red{
    color: red;
}
.green{
    color: green;
}
a{
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    background-color: white;
}
a:active{
    color: white;
}


