@media only screen and (max-width: 768px){

.background{
    display: none;
}
.coinsImage{
    display: none;
}
.coin-search{
    left: 120px;
    top:70px
}
.coinContainer{
    display: block;
    margin-left: 15px;
}
.coinWishList{
    width: 120px;
    height: 120px;
}
.coin{
    font-size: 14px;
    margin-left: 38px;
    padding: 0;
}
.coin h1{
    font-size: 18px;
}
.coinRow{
    display: block;
    width:380px;
    margin-right: 100px;
}
.coin img{
    width: 40px;
    height: 40px;
}
.body{
    padding: 13rem;
}
/* .navBarContainer{
    margin-left: 84px;
    width: 740px;
} */
.navBarContainer{
    /* display: block; */
    height: 60px;
    text-align: center;
    width: 700px;
    padding-right: 350px;

}
.coinContainer{
    margin-top: 50px;
    margin-left: 90px;
}
.cardContainer{
    margin-left: 140px;
    width: 300px;
}
.chartHeader{
    /* text-align: left; */
    /* width: 100%; */
    margin-right: 150px;

    
}
 #myChart{
    width: 280px;
    margin-left: 0px;
    display: block;
    /* margin-top: 50px; */
    height: 500px;
}
/* .container{
    margin-left: 27rem;
} */
canvas{
    width: 400px;
    height: 500px;
}
.bg-white{
    display: block;
    text-align: center;
}
.wishListAdd {
    width: 75px;
    height: 60px;
    font-size: 12px;
   
}
}